graffiti/src/main/resource/config/listener.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns="http://www.nw.com/listener"
        targetNamespace="http://www.nw.com/listener"
        elementFormDefault="qualified">

    <xsd:element name="dispatcher">
        <xsd:complexType>
            <xsd:attribute name="id" type="xsd:string" use="required"/>
            <xsd:attribute name="base-package" type="xsd:string" use="required"/>
            <xsd:attribute name="class" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
